.container 
  = link_to image_tag('Edit Master.png',size: "140x60"), root_path
.post__header__search
  = search_form_for @search, url: search_articles_path do |form|
    = form.text_field :title_cont, placeholder: "投稿を検索する", class: "form-control"
    %span.input-group-btn
      %button.btn.btn-default{type: "form.submit"}
        %i.glyphicon.glyphicon-search
.post__header__list
  = link_to '/users/show' do
    %button.btn.btn-primary{type: "button"} マイページ