.wrapper{
  background-color:#f5f5f5;
.article-content{
  &__header{
    position: fixed;
    z-index: 1;
    background-color: rgb(81, 81, 82);
    height: 80px;
    width: 100%;
    color:#fff;
    display: table;
    .container {
      top: 8px;
      position: relative;
      width: 200px;
      padding: 0 0 0 10px;
    }
    &__search{
      display: table-cell;
      padding: 20px 0 0 200px;
    input{
      display: table-cell;
      float: left;
      height:40px;
      width: 450px;
      background:#eee;
    .form-control{
      max-width:300px;	
      }
    }
      button{
      position: relative;
      left: -5px;
      height:40px;
      width:50px;	
      background:#7fbfff;
      color:#fff;
      border:none;
      border-radius:0 25px 25px 0;
      }
    }
    &__post{
      display: table-cell;
      top: -13.8px;
      left: -120px;
      position: relative;
    }
    &__list{
      top: -13px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-weight: bold;
      font-size: 10pt;
      .signup__btn{
        display: table-cell;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: rgb(255, 26, 26);
        border: solid 1px rgb(255, 26, 26);
        height: 37px;
        line-height: 40px;
        border-radius: 3px;
      }
      .login__btn{
        display: table-cell;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #28d;
        border: solid 1px #28d;
        height: 37px;
        line-height: 40px;
        border-radius: 3px;
      }
      .mypage__btn{
        display: table-cell;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        background: #28d;
        border: solid 2px #28d;
        height: 37px;
        line-height: 40px;
        border-radius: 3px;
      }
      .logout__btn{
        display: table-cell;
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: #FFF;
        height: 37px;
        line-height: 40px;
        border-radius: 3px;
      }
    }
  }

  &__main{
    display: flex;
    width: 100%;
    height: 1200px;
    padding: 120px 0 0 0;
    &__center {
    width: 750px;
    height: 1095px;
    background-color: #fff;
    &__top{
      background-color: #f5f5f5;
      text-align: center;
      font-size: 16px;
      overflow-wrap: break-word;
      padding: 0 5px 10px 0;
    }
    &__list{
      border-bottom: 1px solid #3f3d3d;
    &__title{
      font-weight: bold;
      font-size: 16px;
      padding: 5px 5px 0 5px;
      white-space: nowrap;  
      overflow: hidden;  
      text-overflow: ellipsis;  
      -webkit-text-overflow: ellipsis;  
      -o-text-overflow: ellipsis;  
    }
    &__tagbox{
      padding: 5px 0 0 5px;
      overflow-wrap: break-word;
    }
    &__nickname{
      font-weight: bold;
      display: table-cell;
      padding: 5px 0 0 7px;
    }
    &__datetime{
      display: table-cell;
      padding: 5px 0 0 20px;
    }
  }
}
    &__left{
    width: 350px;
    z-index: 0;
    .leftbar-tag{
      font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
      margin: 0 30px 0 30px;
      background-color: #fff;
      height: 160px;
      span{
        position: relative;
        padding: 0.2em 0.5em 0.5em;
        background: #5097f5;
        font-size: 13pt;
        color: white;
       }
       span:before{
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        border: none;
        border-bottom: solid 15px transparent;
        border-right: solid 20px rgb(60, 63, 62);
       }
       &__lank{
        position: relative;
        top:  8px;
        left: 25px;
         &__num{
         font-weight: bold;
         font-size: 10pt;
        }
         &__name{
          padding: 0 0 5px 0;
          font-size: 10pt;
          color: #FF8C00;
          background: -webkit-linear-gradient(0deg, rgb(40, 172, 158), #FF8C00, #FF0080);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          white-space: nowrap;  
          overflow: hidden;  
          text-overflow: ellipsis;  
          -webkit-text-overflow: ellipsis;  
          -o-text-overflow: ellipsis;
         }
     }
    }
  }

    &__right{
    width: 350px;
  }
}

&__footer{
  margin: 20px 0 0 0;
  text-align: center;
  height: 100px;
  background-color:#f5f5f5;
  }
 } 
}